@import "tailwindcss";

@theme {
  --color-auzen-primary: #4033BC;
  --color-auzen-bg: #FFF7ED;
  --color-auzen-text: #1A1A32;
  --color-auzen-mint: #C2E5BA;
  --color-auzen-lilac: #E5E3FC;
  --color-auzen-white: #FCFCFC;
}

@layer base {
  body {
    @apply bg-auzen-bg text-auzen-text antialiased;
  }
}
